{% extends 'main/heafoo.html' %}
{% block title %}
about
{% endblock %}
{% block content %}
    <H1>
        Lorem.
    </H1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, quaerat consectetur voluptatem recusandae totam maiores accusamus delectus quae ullam, suscipit nostrum? Impedit at facilis dicta fuga voluptas voluptate, enim illum.
        Deserunt facilis rerum quaerat assumenda maiores molestias nam. Quibusdam qui suscipit ipsum odit eligendi officiis laborum, ducimus in dolore vitae deleniti aspernatur repudiandae ea nisi et debitis, sequi iste cum!
        Ut reprehenderit ipsa exercitationem aliquam, placeat accusantium perferendis provident nulla quo? Ipsa eveniet nisi quaerat provident nemo exercitationem voluptatibus omnis, a, quod voluptas pariatur! Assumenda pariatur cum id facere commodi!
        Error velit aperiam aliquam impedit dolorem omnis, voluptatum illo? Illo laborum ea reiciendis dolorum nulla, odio id et fugit accusamus delectus animi, vel consequatur cupiditate quasi, repudiandae quos nihil? Dolores?
        Praesentium voluptas, illo, modi ullam atque enim facere quas dicta recusandae quibusdam tempore magnam, nam natus! Quis dolores obcaecati pariatur voluptates corporis? Est, aspernatur cupiditate repudiandae cumque beatae ducimus debitis.
        Incidunt iste nostrum quis pariatur quae. Animi, quo dignissimos explicabo eaque reprehenderit unde ducimus odit in veniam iusto maxime quod dolor, voluptatibus eligendi cum saepe asperiores? Porro iure consequuntur adipisci?
        Similique praesentium eaque repudiandae veniam vitae necessitatibus facilis itaque veritatis quia eum, aspernatur iure nesciunt repellat vel deleniti accusantium! Perspiciatis nostrum corrupti quod mollitia assumenda fugiat nemo odio est pariatur?
        Inventore ipsum aliquam minima blanditiis? Eius iure, quibusdam minima qui earum, neque quis illo ex vero suscipit assumenda ducimus quia perferendis ipsa quae odio. Commodi sunt provident minus voluptas fugit.
        Dolores fugit nulla maxime eius laudantium? Sequi vel asperiores nesciunt nisi voluptatibus optio nemo vitae non deleniti quidem corporis laboriosam facere dolore odio alias recusandae facilis, ipsam ut, veniam dicta.
        Similique et hic sequi ducimus adipisci quas at non! Dolore pariatur ratione a minus deleniti, ullam eaque? Consectetur, corrupti quod praesentium hic perferendis laboriosam neque cumque molestias rem? Quisquam, facere.
    </p>
{% endblock %}