{% extends 'main/heafoo.html' %}
{% block title %}
index
{% endblock %}
{%block content %}
    <h1>
        Lorem ipsum dolor sit amet.
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure officiis dolorem veritatis molestias aspernatur cumque neque nulla maiores delectus, ipsum esse culpa voluptate nostrum dolorum quibusdam laborum fuga voluptatem molestiae.
    </p>
    <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, aspernatur?
    </h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi qui ut quia? Id dicta eos veniam quia pariatur itaque, praesentium ratione deleniti est qui velit. Aperiam modi error dolor deserunt.
    </p>
{% endblock %}