{% extends 'main/heafoo.html' %}
{% block title %}
News Home
{% endblock %}
{%block content %}
   <h1>Product</h1>
   <hr>
   <ol>
           {% for el in product %}
            <li style="border-bottom:2px solid gray; width:300px; border-radius:10px; background:black;color:white;margin:0 auto; padding:10px; margin-top:10px">
                <h1>
                    {{el.name}}
                </h1>
                <h5>
                    {{el.text}}
                </h5>
                <pre style="color:red; font-size:15px">
{{el.sena}} | {{el.gram}}
                </pre>
            </li>
           {% endfor %}
   </ol>
{% endblock %}